@using Newtonsoft.Json;
@inject IRundownService RundownService
@inject ILogger<TabPaneRundown> Logger
@inject RundownState RundownState
@inject ToastState ToastState
@inject ModalState ModalState

@if (isCreating)
{
    <div class="d-flex justify-content-center my-5">
        <div class="spinner-border text-danger" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
    <p class="text-center my-5">Opretter @Title</p>
}
else
{
<form @onsubmit="HandleSubmit">
    <div class="mb-3">
        <label for="title" class="form-label">Titel</label>
        <input type="text" class="form-control form-control-sm" id="title" @bind="@Title" />
    </div>
    @if (new string[] { "Teleprompter", "Voiceover", "Kommentar" }.Contains(DetailType))
    {
        <div class="mb-3">
            <label for="text" class="form-label">@DetailType tekst</label>
            <textarea class="form-control form-control-sm" id="text" rows="3" @bind="@Text"></textarea>
        </div>
    }
    @if (DetailType == "Grafik")
    {
        <div class="mb-3">
            <label for="path" class="form-label">Grafik</label>
            <input type="file" class="form-control form-control-sm" id="title" @bind="@Graphic" />
        </div>
    }
    @if (DetailType == "Teleprompter")
    {
        <div class="mb-3">
            <label for="category" class="form-label">Kamera</label>
            <select class="form-control form-control-sm" id="category" @bind="@SelectedCamera">
                <option value="">Vælg Kamera</option>
                @foreach (var cam in Cameras)
                {
                    <option value="@cam">@cam</option>
                }
            </select>
        </div>
    }
    <div class="mb-3">
        <label for="duration" class="form-label">Planlagt længde</label>
        <input type="time" step="1" class="form-control form-control-sm" id="duration" @bind="@Duration" />
    </div>

    <div class="d-flex justify-content-end">
        <button type="submit" class="btn btn-sm btn-primary">Opret rækkefølge objekt</button>
    </div>
</form>
}

@code {
    [Parameter]
    public string DetailType { get; set; } = string.Empty;

    public TimeOnly Duration { get; set; } = new TimeOnly(0, 0, 0);
    public string Title { get; set; } = string.Empty;
    public string Text { get; set; } = string.Empty;
    public string Graphic { get; set; } = string.Empty;
    public string Template { get; set; } = string.Empty;
    public string SelectedCamera { get; set; } = string.Empty;
    public List<string> Cameras { get; set; } = ["Kamera 1", "Kamera 2", "Kamera 3"]; // skal komme fra controlRoom.Hardware
    public bool isCreating { get; set; } = false;


    public StoryDetailDTO.StoryDetail? GetModel(string type) =>
    type switch
    {
        "Video" => new StoryDetailDTO.StoryDetailVideo(),
        "Teleprompter" => new StoryDetailDTO.StoryDetailTeleprompter(),
        "Grafik" => new StoryDetailDTO.StoryDetailGraphic(),
        "Kommentar" => new StoryDetailDTO.StoryDetailComment(),
        "Voiceover" => new StoryDetailDTO.StoryDetailTeleprompter(),
        _ => null

    };

    private bool ValidateInput()
    {
        if (string.IsNullOrEmpty(Title))
        {
            ToastState.FireToast("Du skal angive en titel", "text-bg-warning");
            return false;
        }
        return true;
    }


    private async Task HandleSubmit()
    {
        if (!ValidateInput())
        {
            return;
        }
        isCreating = true;
        var newRundownStory = GetModel(DetailType);

        newRundownStory.UUID = Guid.NewGuid();
        newRundownStory.StoryId = RundownState.Story.UUID;
        newRundownStory.Type = DetailType;
        newRundownStory.Title = Title;
        newRundownStory.Duration = Duration.ToString("HH:mm:ss");
        switch (newRundownStory)
        {
            case StoryDetailDTO.StoryDetailTeleprompter teleprompterStory:
                teleprompterStory.PrompterText = Text;
                break;
            case StoryDetailDTO.StoryDetailVideo videoStory:
                videoStory.VideoPath = "No video related";
                break;
            case StoryDetailDTO.StoryDetailGraphic graphicStory:
                graphicStory.GraphicId = "Graphic ID";
                break;
            case StoryDetailDTO.StoryDetailComment commentStory:
                commentStory.Comment = Text;
                break;
        }
        bool success = await SaveNewDetail(newRundownStory);
        isCreating = false;
        if (success) ModalState.Close();        
    }

    private async Task<bool> SaveNewDetail(StoryDetailDTO.StoryDetail newRundownStory)
    {
        await Task.Delay(500); // Simulere at der går lidt tid før det er oprettet
        var rundown = await RundownService.AddDetailToStoryAsync(RundownState.Rundown.UUID, newRundownStory);
        if (rundown == null)
        {
            ToastState.FireToast("Der skete en fejl. Prøv igen", "text-bg-danger");
            return false;
        }        
        ToastState.FireToast($"{Title} er oprettet.", "text-bg-success");
        Logger.LogWarning($"{Title} er oprettet i {RundownState.Story.Name}");
        return true;
    }
}