<div class="d-flex align-content-center justify-content-center">
    <svg class="w-100 rounded-circle" viewBox="-100 -100 200 200">
        @for (int i = 0; i < 60; i++)
        {
            var angle = (i - 15) * 6; // Justerer vinklen, så prik 0 starter kl. 12 på uret
            var x = (Math.Cos(angle * Math.PI / 180) * 80).ToString(System.Globalization.CultureInfo.InvariantCulture);
            var y = (Math.Sin(angle * Math.PI / 180) * 80).ToString(System.Globalization.CultureInfo.InvariantCulture);

            <circle cx="@x"
                    cy="@y"
                    r="3"
                    fill="@GetCircleColor(i)" />
        }
        <text class="dynamic-text" x="0" y="-5" text-anchor="middle" font-size="18px">
            @currentTime.ToString("dd. MMMM")
        </text>
        <text class="dynamic-text" x="0" y="20" text-anchor="middle" font-size="18px">
            @currentTime.ToString("HH:mm:ss")
        </text>
    </svg>
</div>

@code {
    private DateTime currentTime;
    private Timer? timer;

    protected override void OnInitialized()
    {
        currentTime = DateTime.Now;
        timer = new Timer(UpdateClock, null, 0, 1000);
    }

    private void UpdateClock(object? state)
    {
        currentTime = DateTime.Now;
        InvokeAsync(StateHasChanged);
    }

    private string GetCircleColor(int index)
    {
        return index <= currentTime.Second ? "rgb(220, 53, 69)" : "rgba(0, 0, 0, 0.03)";
    }

    public void Dispose()
    {
        timer?.Dispose();
    }
}
