@inject IRundownService RundownService
@inject ApplicationDbContext ApplicationDbContext
@inject KafkaService KafkaService
@inject RundownState RundownState
@inject DetailLockState DetailLockState
@inject AuthenticationStateProvider AuthenticationStateProvider
@using Microsoft.EntityFrameworkCore

<div>
    <div class="card mb-3 d-inline-block
        @(locked && lockedByUser != userName ? "border border-3 border-danger" : "")
        @(active ? "border border-3 border-success": "")">
        <div class="card-header d-flex justify-content-between @color">
            @Detail.Title<i class="ms-5 bi @icon"></i>
        </div>
        <div class="p-0">
       
            <div class="input-group">
                <span class="input-group-text rounded-0 @color">Duration</span>
                <input id="duration" type="time" class="form-control form-control-sm" step="1" value="@Detail.Duration" @oninput="HandleDurationInput" disabled="@(!active)">
     
                <button class="btn rounded-0 @color" type="button" disabled="@(locked && lockedByUser != userName)" @onclick="() => ActivateInput()">
                    <i class="bi @(!active ? "bi-pencil-fill" : "bi-floppy-fill")"></i>
                </button>
            </div>
        </div>
        <div class="card-body p-0">
            <p class="@(locked && lockedByUser != userName ? "bg-danger text-white text-center px-5 py-2 m-0" : "d-none")">@(locked && lockedByUser != userName ? $"Låst af {lockedByUser}" : "")</p>
            <div class="input-group">
                <textarea 
                    class="form-control"
                    rows="@CalculateRows()"
                    cols="@(Math.Ceiling((double)content.Count()))"
                    @oninput="HandleContentInput"
                    disabled="@(!active)" 
                    style="resize: both;">
                    @content
                </textarea>
            
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public DetailDTO Detail { get; set; }
    public string icon { get; set; }
    public string color { get; set; }
    public string content { get; set; }
    public bool active = true;
    public bool locked = false;
    public string userName = "";
    public string lockedByUser = "";
    public string lockedClass = "";

    protected override async void OnInitialized()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;
        userName = user.Identity.Name ?? "Ukendt bruger";

        icon = Detail.Type switch
        {
            "Kamera" => "bi-camera-video",
            "Teleprompter" => "bi-card-text",
            "Grafik" => "bi-palette",
            "Video" => "bi-film",
            "Voiceover" => "bi-badge-vo",
            "Kommentar" => "bi-chat-right-text",
            _ => "bi-x-square"
        };
        color = Detail.Type switch
        {
            "Kamera" => "list-group-item-warning",
            "Teleprompter" => "list-group-item-danger",
            "Grafik" => "list-group-item-warning",
            "Video" => "list-group-item-success",
            "Voiceover" => "list-group-item-danger",
            "Kommentar" => "list-group-item-primary",
            _ => "list-group-item-secondary"
        };

        content = SetContent();

        // Lytter på DetailLockState for ændringer
        DetailLockState.OnLockStateChanged += HandleLockStateChanged;
        locked = DetailLockState.IsLocked(Detail.UUID.ToString(), out lockedByUser);
        active = locked && lockedByUser == userName;
    }

    private void HandleDurationInput(ChangeEventArgs e)
    {
        Detail.Duration = e.Value?.ToString();
    }
    private void HandleContentInput(ChangeEventArgs e)
    {
        
        content = e.Value?.ToString();
    }

    public async Task ActivateInput()
    {
        var saveChanges = active;
       
        if (saveChanges)
        {
            await SaveChanges();            
        }
  
        SetLockOnElement();      
        
    }

    private async Task SaveChanges()
    {
        var contentType = Detail.Type switch
        {
            "Teleprompter" => Detail.PrompterText = content,
            "Grafik" => Detail.GraphicId = content,
            "Video" => Detail.VideoPath = content,
            "Voiceover" => Detail.PrompterText = content,
            "Kommentar" => Detail.Comment = content,
            _ => "Noget gik helt galt her??!!"
        };
        await RundownService.UpdateDetailAsync(RundownState.Rundown.Uuid, Detail);
        
    }

    private void SetLockOnElement()
    {
        active = !active;
        locked = active && lockedByUser != userName;
        if (locked)
        {
            DetailLockState.SetLockState(Detail, true, userName);
        }
        else
        {
            DetailLockState.SetLockState(Detail, false, userName);
        }

        var messageObject = new
        {
            Action = "locked",
            Locked = locked,
            Detail = Detail,
            Rundown = RundownState.Rundown.Uuid.ToString(),
            Item = Detail.ItemId.ToString(),
            UserName = userName
        };
        string message = JsonSerializer.Serialize(messageObject);
       
        KafkaService.SendMessage("rundown_story", message);
    }
    private string SetContent()
    {
        return Detail.Type switch
        {
            "Kamera" => "Kamera",
            "Teleprompter" => Detail.PrompterText ?? "Prompter text not found",
            "Grafik" => Detail.GraphicId ?? "Graphic element not found",
            "Video" => Detail.VideoPath ?? "Videopath not found",
            "Voiceover" => Detail.PrompterText ?? "Voiceover text not found",
            "Kommentar" => Detail.Comment ?? "Comment not found",
            _ => "Ukendt"
        };
    }

    private void HandleLockStateChanged(DetailDTO detail, bool isLocked, string userName)
    {
        if (detail.UUID == Detail.UUID)
        {
            locked = isLocked;
            Detail = detail;
            lockedByUser = isLocked ? userName : "";
            content = SetContent();
            InvokeAsync(StateHasChanged);
        }
    }

    private int CalculateRows()
    {
        var lineCount = content.Split('\n').Length;
        var additionalRows = Math.Ceiling((double)content.Length / 150);
        // Antal rækker (mindst 1 + antal linjeskift + ekstra rækker)
        return Math.Max(1, lineCount + (int)additionalRows);
    }

    public void Dispose()
    {
        // Lyt ikke længere, når komponenten lukkes
        DetailLockState.OnLockStateChanged -= HandleLockStateChanged;
    }
}
