
@using RundownEditorCore.DTO
@using RundownEditorCore.Interfaces
@inject IRundownService RundownService


@if (isLoading)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table table-sm">
        <thead>
            <tr>
                <th>ID</th>
                <th>Navn</th>
                <th>Udsendelses dato</th>
                <th>Beskrivelse</th>
                <th>Type</th>
                <th>Kontrolrum</th>
                <th>Arkiveret</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var rundown in rundowns)
            {
                <tr role="button" @onclick="() => OpenThisRundown(rundown.Name)">
                    <td>@rundown.Uuid</td>
                    <td>@rundown.Name</td>
                    <td>@rundown.BroadcastDate.ToString("dddd d. MMMM yyyy")</td>
                    <td>@rundown.Description</td>
                    <td>@rundown.Type</td>
                    <td>@rundown.ControlRoomName</td>
                    <td>@rundown.ArchivedDate</td>

                </tr>
            }
        </tbody>
    </table>
}

@code {
    [Parameter]
    public EventCallback<string> OpenRundown { get; set; }

    private List<RundownDTO>? rundowns;
    private bool isLoading = true;
    private string? errorMessage;

    public async Task OpenThisRundown(string name)
    {
        await OpenRundown.InvokeAsync(name);
    }

    protected override async Task OnInitializedAsync()
    {
        if (!isLoading) return;

        try
        {
            rundowns = await RundownService.GetActiveRundowsAsync();
    

        }
        catch (HttpRequestException httpEx)
        {
            errorMessage = $"Fejl ved hentning af data: {httpEx.Message}";
        }
        catch (Exception ex)
        {
            errorMessage = $"En uventet fejl opstod: {ex.Message}";
        }
        finally
        {
            isLoading = false;
        }
    }
   


}
