@using CommonClassLibrary.DTO
@inject IRundownService RundownService
@inject RundownState RundownState

@if (!string.IsNullOrEmpty(RundownState.Rundown.Name))
{
    <ul class="nav nav-tabs mb-2">
        <TabItem MenuItem="@RundownState.Rundown.Name" ActiveTab="@activeTab" SelectTab="SelectTab" />
        @foreach (var item in menuTabs)
        {
            @item.Content
        }
    </ul>
}
<div class="tab-content">

    <TabPaneRundown ControlRooms="ControlRooms"
                    ActiveTab="@activeTab"
                    OpenTabPane="OpenTabPane"
                    CurrentObjects="RundownObjects" />

    @foreach (var tab in tabPanes)
    {
        @tab.Content
    }
</div>

@code {
    [Parameter]
    public List<ControlRoomDTO> ControlRooms { get; set; }

    //private bool showDialog = false;
    private string activeTab = string.Empty;
    private string openItemId = string.Empty;

    private List<TabFragment> menuTabs = new();
    private List<TabFragment> tabPanes = new();
    // anvendes ved drag n drop lige nu - en anden logik måske?
    public List<RundownObjects> RundownObjects { get; set; } = new List<RundownObjects>(); // brug RundownItemsDTO i stedet for??

    protected override void OnInitialized()
    {
        RundownState.OnChange += HandleRundownStateChange;
    }

    private void HandleRundownStateChange()
    {
        if (activeTab != RundownState.Item.Name && activeTab != RundownState.Rundown.Name)
        {
            activeTab = RundownState.Rundown.Name ?? "Unknown";
            menuTabs = [];
            tabPanes = [];
        }
    }
    private void SelectTab(string tabName)
    {
        activeTab = tabName;
    }   

    private void OpenTabPane(RundownItemDTO item)
    {
        RundownState.SelectedItem(item);
        activeTab = item.Name;
        openItemId = item.UUID.ToString();

        if (!menuTabs.Any(tab => tab.ItemId == item.UUID.ToString()))
        {
            AddMenuTab();
        }
    }

    private void AddMenuTab()
    {
        string tabName = activeTab;
        var newChild = new RenderFragment(builder =>
        {
            builder.OpenComponent<TabItem>(0);
            builder.AddAttribute(1, "MenuItem", tabName);
            builder.AddAttribute(2, "ActiveTab", activeTab);
            builder.AddAttribute(3, "SelectTab", EventCallback.Factory.Create<string>(this, SelectTab));
            builder.AddAttribute(4, "CloseTab", EventCallback.Factory.Create<string>(this, RemoveTabPane));
            builder.CloseComponent();
        });

        menuTabs.Add(new TabFragment
            {
                Name = tabName,
                ItemId = openItemId,
                Content = newChild
            });

        AddTabPane();
    }

    private void AddTabPane()
    {
        string tabName = activeTab;

        var newChild = new RenderFragment(builder =>
        {
            builder.OpenComponent<TabPaneRundownItem>(0);
            builder.AddAttribute(1, "ActiveTab", activeTab);
            builder.AddAttribute(2, "ItemId", openItemId);
            builder.AddAttribute(3, "Name", tabName);
            builder.AddAttribute(4, "OnRemove", EventCallback.Factory.Create<string>(this, RemoveTabPane));
            builder.CloseComponent();
        });

        tabPanes.Add(new TabFragment
            {
                Name = tabName,
                ItemId = openItemId,
                Content = newChild
            });

    }

    private void RemoveTabPane(string tabName)
    {
        var tabToRemove = tabPanes.FirstOrDefault(tab => tab.Name == tabName);
        if (tabToRemove != null)
        {
            tabPanes.Remove(tabToRemove);
            RemoveTab(tabName);
        }
    }

    private void RemoveTab(string tabName)
    {
        var tabToRemove = menuTabs.FirstOrDefault(tab => tab.Name == tabName);
        if (tabToRemove != null)
        {
            menuTabs.Remove(tabToRemove);
            activeTab = RundownState.Rundown.Name;
            StateHasChanged();
        }
    }

    public class TabFragment
    {
        public string? Name { get; set; }
        public string? ItemId { get; set; }
        public RenderFragment? Content { get; set; }
    }


}


