@page "/"

@inject IRundownService RundownService
@inject IControlRoomService ControlRoomService
@inject ITemplateService TemplateService
@inject IHttpClientFactory ClientFactory
@inject FormRenderService FormRenderservice
@inject ModalState ModalState
@inject ToastState ToastState
@inject RundownState RundownState
@inject SharedStates SharedStates
@using Microsoft.AspNetCore.Authorization
@using CommonClassLibrary.DTO

@attribute [Authorize(Roles = "User,Administrator")]

<PageTitle>Home</PageTitle>

<Toast></Toast>
<Modal></Modal>

<div class="container-fluid full-height">
    <div class="row h-100">
        <div class="col-xl-3 h-100">
            <ul class="nav nav-tabs mb-2">
                <TabItem MenuItem="Medier" ActiveTab="@activeTab" SelectTab="SelectTab" />
                <TabItem MenuItem="Aktive rækkefølger" ActiveTab="@activeTab" SelectTab="SelectTab" />
                <TabItem MenuItem="Skabeloner" ActiveTab="@activeTab" SelectTab="SelectTab" />
            </ul>
            <div class="tab-content">
                <div class="tab-pane @(activeTab == "Skabeloner" ? "show active" : "fade")">
                    <div class="card card-height-100 mb-2">

                        <div class="card-body">
                            <h5 class="card-title">Templates</h5>
                            <TemplatesTable Templates="AllTemplates" />
                        </div>
                    </div>
                </div>
                <div class="tab-pane @(activeTab == "Medier" ? "show active" : "fade")">
                    <div class="card card-height-100 mb-2">

                        <div class="card-body">
                            <h5 class="card-title">Media browser</h5>
                            <p class="card-text">Browser medier der er tilknyttet aktive rækkefølger</p>
                        </div>
                    </div>
                </div>
                <div class="tab-pane @(activeTab == "Aktive rækkefølger" ? "show active" : "fade")">
                    <div class="card card-height-100 mb-2">
                        <div class="card-body">
                            <div class="d-flex justify-content-between mb-3">
                                <h5 class="card-title text-muted">Aktive rækkefølger</h5>
                                <button class="btn btn-sm btn-danger" @onclick="ShowCreateNewRundownForm">Opret ny</button>
                            </div>
                            <hr />
                            <Calendar ReturnSelectedDate="SetSelectedDate" />
                            <hr />
                            <RundownTable OpenRundown="OpenRundown" Rundowns="ActiveRundowns" SelectedDate="SelectedDate" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @* rundown card *@
        <div class="col-xl-9">
            <div class="row">
                <div class="col-xl-10">
                    <Rundown ControlRooms="controlRooms" />

                </div>

                <div class="col-xl-2 pt-1">
                    <div class="card card-height-100 mt-5">
                        <AdvancedClock />
                        <SystemStatus />
                        <div class="card-body overflow-auto">
                            <ul>
                                @foreach (var log in InMemoryLogger.GetSimpleLogs().Reverse())
                                {
                                    <li><small>@((MarkupString)log)</small></li>
                                }
                            </ul>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



@code {

    public DateTime SelectedDate = DateTime.Now.ToLocalTime();
    private string activeTab = "Aktive rækkefølger";
    private List<ControlRoomDTO> controlRooms = new();
    private List<RundownDTO> AllRundowns = new();
    private List<RundownDTO> ActiveRundowns = new();
    private List<TemplateDTO> AllTemplates = new();

    protected override async Task OnInitializedAsync()
    {
        controlRooms = await ControlRoomService.GetControlRoomsAsync();
        AllTemplates = await TemplateService.GetAllTemplatesAsync();
        SharedStates.SharedControlRoom(controlRooms);
        await GetAndFilterRundowns();

        SharedStates.OnChange += HandleSharedStateChange;   

    }
    /// <summary>
    /// Håndtere ændringer i SharedStates forårsaget af Kafka beskeder
    /// og bestemte StateActions
    /// </summary>
    private async void HandleSharedStateChange(SharedStates.StateAction action)
    {
        if (action == SharedStates.StateAction.NewRundownAdded || action == SharedStates.StateAction.RundownUpdated)
        {
            await GetAndFilterRundowns();
            await InvokeAsync(StateHasChanged);
        }
    }
    /// <summary>
    /// Henter alle rundowns og filtrerer de deaktiverede fra
    /// </summary>
    private async Task GetAndFilterRundowns()
    {
        AllRundowns = await RundownService.GetRundownsAsync();
        ActiveRundowns = AllRundowns.Where(r => r.ArchivedDate == null).ToList();
    }

    /// <summary>
    /// Åbner en rundown ved klik på listen med aktive rundowns
    /// </summary>
    private async Task OpenRundown(string uuid)
    {
        try
        {
            var selectedRundown = await RundownService.GetRundownAsync(uuid);
            RundownState.SelectedRundown(selectedRundown);
            StateHasChanged();
        }
        catch (HttpRequestException e)
        {
            Console.WriteLine($"Error fetching rundown: {e.Message}");
        }
        activeTab = "Aktive rækkefølger";
    }

    /// <summary>
    /// Sætter og åbner den aktive tabpane ved klik på tab
    /// </summary>
    private void SelectTab(string tabName)
    {
        activeTab = tabName;
    }

    private void SetSelectedDate(DateTime date)
    {
        SelectedDate = date.ToLocalTime();
    }

    ///<summary>
    /// Kalder rendering af Modal med CreateNewRundownForm
    /// </summary>
    private void ShowCreateNewRundownForm()
    {
        var content = new RenderFragment(builder =>
        {
            builder.AddContent(0, FormRenderservice.RenderNewRundownForm(
                AllTemplates,
                controlRooms,
                SelectedDate
            ));
        });

        ModalState.SetContent(content, "Opret ny rækkefølge");

    }
    /// <summary>
    /// Fjerner abonnementet for at undgå memory leaks
    /// </summary>
    public void Dispose()
    {
        SharedStates.OnChange -= HandleSharedStateChange;
    }

}



