@page "/"
@using System.Text.Json;
@using RundownEditorCore.Components.Shared
@using RundownEditorCore.DTO
@using RundownEditorCore.Interfaces
@using RundownEditorCore.Data
@using RundownEditorCore.Components.Forms
@inject IRundownService RundownService
@inject IControlRoomService ControlRoomService
@inject ITemplateService TemplateService
@inject IHttpClientFactory ClientFactory
@using Microsoft.AspNetCore.Authorization
@* @using Microsoft.AspNetCore.Identity
@using System.Security.Claims
@inject UserManager<ApplicationUser> UserManager
@inject AuthenticationStateProvider AuthenticationStateProvider

@inject UserManager<ApplicationUser> UserManager
@inject AuthenticationStateProvider AuthenticationStateProvider *@

@attribute [Authorize(Roles = "User,Administrator")]

<PageTitle>Home</PageTitle>


@if (!string.IsNullOrEmpty(validationMessage))
{
    <div class="container">
    <div class="alert alert-warning alert-dismissible">
        @validationMessage
        <button type="button" class="btn-close" @onclick="CloseAlert" aria-label="Luk"></button>
    </div>
    </div>
}
<Modal ShowDialog="@showDialog"
       SaveChanges="SaveCurrentObject"
       ShowDialogChanged="@((value) => showDialog = value)"
       Title="@modalTitle">
    @CurrentContent
</Modal>

<div class="container-fluid full-height">
    <div class="row h-100">
        <div class="col-xl-3 h-100">
            <ul class="nav nav-tabs mb-2">
                <TabItem MenuItem="Medier" ActiveTab="@activeTab" SelectTab="SelectTab" />
                <TabItem MenuItem="Aktive rækkefølger" ActiveTab="@activeTab" SelectTab="SelectTab" />                
                <TabItem MenuItem="Skabeloner" ActiveTab="@activeTab" SelectTab="SelectTab" />
            </ul>
            <div class="tab-content">
                <div class="tab-pane @(activeTab == "Skabeloner" ? "show active" : "fade")">
                    <div class="card card-height-100 mb-2">

                        <div class="card-body">
                            <h5 class="card-title">Templates</h5>
                            <TemplatesTable Templates="AllTemplates" />
                        </div>
                    </div>
                </div>
                <div class="tab-pane @(activeTab == "Medier" ? "show active" : "fade")">
                    <div class="card card-height-100 mb-2">

                        <div class="card-body">
                            <h5 class="card-title">Media browser</h5>
                            <p class="card-text">Browser medier der er tilknyttet aktive rækkefølger</p>
                        </div>
                    </div>
                </div>
                <div class="tab-pane @(activeTab == "Aktive rækkefølger" ? "show active" : "fade")">
                    <div class="card card-height-100 mb-2">
                        <div class="card-body">    
                            <div class="d-flex justify-content-between mb-3">
                            <h5 class="card-title text-muted">Aktive rækkefølger</h5>
                                <button class="btn btn-sm btn-danger" @onclick="ShowCreateNewRundownForm">Opret ny</button>
                            </div>
                            <hr />
                            <Calendar ReturnSelectedDate="SetSelectedDate" />
                            <hr />
                            <RundownTable OpenRundown="OpenRundown" Rundowns="ActiveRundowns" SelectedDate="SelectedDate"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @* rundown card *@
        <div class="col-xl-8">
            <Rundown SelectedRundown="selectedRundown" ControlRooms="controlRooms" OpenModal="ShowRundownItemForm" UpdateRundownList="UpdateRundownListOnControlRoomChange" UpdateSelectedRundown="UpdateSelectedRundown" />

        </div>

        <div class="col-xl-1 pt-1">
            <div class="card card-height-100 mt-5">
                <AdvancedClock />
                <div class="card-body">
                    
                </div>

            </div>
        </div>
    </div>
</div>



@code {
    //private string? teleprompterText { get; set; }
    // modal indohold
    private bool showDialog = false;
    private string? validationMessage;
    private string? modalTitle; 
    private RenderFragment? CurrentContent { get; set; }
    private Func<Task>? currentSaveAction;


    private DateTime SelectedDate = DateTime.Now;   
    private string activeTab = "Aktive rækkefølger";

    private RundownDTO selectedRundown = new();
    private List<ControlRoomDTO> controlRooms = new ();
    private List<RundownDTO> ActiveRundowns = new();
    private List<TemplateDTO> AllTemplates = new();

    protected override async Task OnInitializedAsync()
    {
        controlRooms = await ControlRoomService.GetControlRoomsAsync();
        ActiveRundowns = await RundownService.GetActiveRundowsAsync();
        AllTemplates = await TemplateService.GetAllTemplatesAsync();

    }

    /// <summary>
    /// Ved klik på Modal save button, vækkes den aktuelle metode
    /// </summary>
    private void SaveCurrentObject()
    {
        currentSaveAction?.Invoke();
        StateHasChanged();
    }

    private async Task UpdateRundownListOnControlRoomChange()
    {
        ActiveRundowns = await RundownService.GetActiveRundowsAsync();
        StateHasChanged();
    }

    private async Task UpdateSelectedRundown()
    {
        selectedRundown = await RundownService.GetRundownAsync(selectedRundown.Uuid.ToString());
        StateHasChanged();
    }

    private void CloseAlert()
    {
        validationMessage = string.Empty;
    }

    private async Task OpenRundown(string uuid)
    {
        try
        {
            selectedRundown = await RundownService.GetRundownAsync(uuid);
            StateHasChanged();
        }
        catch (HttpRequestException e)
        {
            Console.WriteLine($"Error fetching rundown: {e.Message}");
        }
        activeTab = "Aktive rækkefølger";
    }

    /// <summary>
    /// Sætter og åbner den aktive tabpane ved klik på tab
    /// </summary>
    /// <param name="tabName"></param>
    private void SelectTab(string tabName)
    {
        activeTab = tabName;
    }

    private void SetSelectedDate(DateTime date)
    {
        SelectedDate = date;
    }

    private void ShowRundownItemForm()
    {
        CurrentContent = RundownItemFormContent;
        currentSaveAction = SaveRundownItemForm;
        validationMessage = string.Empty;
        modalTitle = "Opret nyt element";
        showDialog = true;

    }
    private void ShowCreateNewRundownForm()
    {
        CurrentContent = CreateNewRundownContent;
        currentSaveAction = SaveNewRundownForm;
        validationMessage = string.Empty;
        modalTitle = "Opret ny rækkefølge";
        showDialog = true;
    }

    // modal variabler til rundownItem form
    private string ItemName { get; set; } = string.Empty;
    private string Duration { get; set; } = "00:00:00";
    private string Category { get; set; } = string.Empty;

    private RenderFragment RundownItemFormContent => builder =>
    {
        builder.OpenComponent(0, typeof(RundownItemForm));
        builder.AddAttribute(1, "ItemName", ItemName);
        builder.AddAttribute(2, "Duration", Duration);
        builder.AddAttribute(3, "Category", Category);
        builder.AddAttribute(5, "ItemNameChanged", EventCallback.Factory.Create<string>(this, value => ItemName = value));
        builder.AddAttribute(6, "DurationChanged", EventCallback.Factory.Create<string>(this, value => Duration = value));
        builder.AddAttribute(7, "CategoryChanged", EventCallback.Factory.Create<string>(this, value => Category = value));
        builder.CloseComponent();
    };

    // modal variabler til newRundown form
    private DateTime BroadcastDate { get; set; } = DateTime.Now;
    private string Template { get; set; } = string.Empty;
    private string ControlRoom { get; set; } = string.Empty;

    private RenderFragment CreateNewRundownContent => builder =>
    {
        builder.OpenComponent(0, typeof(CreateNewRundownForm));
        builder.AddAttribute(1, "Templates", AllTemplates);
        builder.AddAttribute(2, "ControlRooms", controlRooms);
        builder.AddAttribute(3, "BroadcastDate", BroadcastDate);
        builder.AddAttribute(4, "BroadcastDateChanged", EventCallback.Factory.Create<DateTime>(this, value => BroadcastDate = value));
        builder.AddAttribute(5, "Template", Template);
        builder.AddAttribute(6, "TemplateChanged", EventCallback.Factory.Create<string>(this, value => Template = value));
        builder.AddAttribute(7, "ControlRoom", ControlRoom);
        builder.AddAttribute(8, "ControlRoomChanged", EventCallback.Factory.Create<string>(this, value => ControlRoom = value));
        builder.CloseComponent();
    };

  

    private async Task SaveRundownItemForm()
    {

        if (string.IsNullOrEmpty(ItemName))
        {
            validationMessage = "Navnet må ikke være tomt.";
            return;
        }

        var newRundownItem = new RundownItemDTO
            {
                UUID = Guid.NewGuid(),
                RundownId = selectedRundown.Uuid,
                Name = ItemName,
                Duration = Duration,
                Order = selectedRundown.Items.Count // + 1  eller *10?
            };

        await RundownService.AddItemToRundownAsync(selectedRundown.Uuid.ToString(), newRundownItem);
        // kan denne ikke komme som svar på ovenstående, i stedet for at kalde igen
        await UpdateSelectedRundown();
        showDialog = false;
        // nulstil alle felter
        ItemName = string.Empty;
        Duration = "00:00:00";
        Category = string.Empty;
        validationMessage = string.Empty;     

    }

    private async Task SaveNewRundownForm()
    {

        var rundown = await RundownService.CreateRundownFromTemplate(Template, ControlRoom, BroadcastDate);
      
        ActiveRundowns.Add(rundown);
        selectedRundown = rundown;
        showDialog = false;
        // nulstil alle felter
        BroadcastDate = DateTime.Now;
        Template = string.Empty;
        ControlRoom = string.Empty;
        StateHasChanged();
       
       
    }


    

    // private ClaimsPrincipal user;
    // private ApplicationUser currentUser;
    // private List<string> userRoles = new List<string>();

    // protected override async Task OnInitializedAsync()
    // {
    //     var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
    //     user = authState.User;

    //     if (user.Identity != null && user.Identity.IsAuthenticated)
    //     {
    //         currentUser = await UserManager.GetUserAsync(user);

    //         // Hent rollerne for den aktuelle bruger
    //         userRoles = (await UserManager.GetRolesAsync(currentUser)).ToList();
    //     }
    // }

}



