@page "/"
@using System.Text.Json;
@using RundownEditorCore.Components.Shared
@using RundownEditorCore.DTO
@using RundownEditorCore.Interfaces
@using RundownEditorCore.Data
@using RundownEditorCore.Components.Forms
@using RundownEditorCore.Services
@inject IRundownService RundownService
@inject IControlRoomService ControlRoomService
@inject ITemplateService TemplateService
@inject IHttpClientFactory ClientFactory
@inject FormRenderService FormRenderservice
@using Microsoft.AspNetCore.Authorization
@* @using Microsoft.AspNetCore.Identity
@using System.Security.Claims
@inject UserManager<ApplicationUser> UserManager
@inject AuthenticationStateProvider AuthenticationStateProvider

@inject UserManager<ApplicationUser> UserManager
@inject AuthenticationStateProvider AuthenticationStateProvider *@

@attribute [Authorize(Roles = "User,Administrator")]

<PageTitle>Home</PageTitle>


@if (!string.IsNullOrEmpty(validationMessage))
{
    <div class="container">
    <div class="alert alert-warning alert-dismissible">
        @validationMessage
        <button type="button" class="btn-close" @onclick="CloseAlert" aria-label="Luk"></button>
    </div>
    </div>
}
<Modal ShowDialog="@showDialog"
       OnDataReceived="dynamicOnDataReceived"
       ShowDialogChanged="@((value) => showDialog = value)"
       Title="@modalTitle">
    @CurrentContent
</Modal>

<div class="container-fluid full-height">
    <div class="row h-100">
        <div class="col-xl-3 h-100">
            <ul class="nav nav-tabs mb-2">
                <TabItem MenuItem="Medier" ActiveTab="@activeTab" SelectTab="SelectTab" />
                <TabItem MenuItem="Aktive rækkefølger" ActiveTab="@activeTab" SelectTab="SelectTab" />                
                <TabItem MenuItem="Skabeloner" ActiveTab="@activeTab" SelectTab="SelectTab" />
            </ul>
            <div class="tab-content">
                <div class="tab-pane @(activeTab == "Skabeloner" ? "show active" : "fade")">
                    <div class="card card-height-100 mb-2">

                        <div class="card-body">
                            <h5 class="card-title">Templates</h5>
                            <TemplatesTable Templates="AllTemplates" />
                        </div>
                    </div>
                </div>
                <div class="tab-pane @(activeTab == "Medier" ? "show active" : "fade")">
                    <div class="card card-height-100 mb-2">

                        <div class="card-body">
                            <h5 class="card-title">Media browser</h5>
                            <p class="card-text">Browser medier der er tilknyttet aktive rækkefølger</p>
                        </div>
                    </div>
                </div>
                <div class="tab-pane @(activeTab == "Aktive rækkefølger" ? "show active" : "fade")">
                    <div class="card card-height-100 mb-2">
                        <div class="card-body">    
                            <div class="d-flex justify-content-between mb-3">
                            <h5 class="card-title text-muted">Aktive rækkefølger</h5>
                                <button class="btn btn-sm btn-danger" @onclick="ShowCreateNewRundownForm">Opret ny</button>
                            </div>
                            <hr />
                            <Calendar ReturnSelectedDate="SetSelectedDate" />
                            <hr />
                            <RundownTable OpenRundown="OpenRundown" Rundowns="ActiveRundowns" SelectedDate="SelectedDate"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @* rundown card *@
        <div class="col-xl-9">
            <div class="row">
        <div class="col-xl-10">
            <Rundown SelectedRundown="selectedRundown" ControlRooms="controlRooms" OpenModal="ShowRundownItemForm" UpdateRundownList="UpdateRundownListOnControlRoomChange" UpdateSelectedRundown="UpdateSelectedRundown" />

        </div>

        <div class="col-xl-2 pt-1">
                    <div class="card card-height-100 mt-5">
                <AdvancedClock />
                        <div class="card-body overflow-auto">
                    <ul>
                        @foreach (var log in InMemoryLogger.GetLogs().Reverse())
                        {
                            <li><small>@((MarkupString)log)</small></li>
                        }
                    </ul>
                    
                </div>

            </div>
        </div>
        </div>
        </div>
    </div>
</div>



@code {
    //private string? teleprompterText { get; set; }
    // modal indohold
    private bool showDialog = false;
    private string? validationMessage;
    private string? modalTitle; 
    private RenderFragment? CurrentContent { get; set; }
    private EventCallback<object> dynamicOnDataReceived;
    private Func<Task>? currentSaveAction; // skal væk


    public DateTime SelectedDate = DateTime.Now.ToLocalTime();   
    private string activeTab = "Aktive rækkefølger";

    private RundownDTO selectedRundown = new();
    private List<ControlRoomDTO> controlRooms = new ();
    private List<RundownDTO> ActiveRundowns = new();
    private List<TemplateDTO> AllTemplates = new();

    protected override async Task OnInitializedAsync()
    {
        controlRooms = await ControlRoomService.GetControlRoomsAsync();
        ActiveRundowns = await RundownService.GetActiveRundowsAsync();
        AllTemplates = await TemplateService.GetAllTemplatesAsync();

    }

    /// <summary>
    /// Ved klik på Modal save button, vækkes den aktuelle metode
    /// </summary>
    private void SaveCurrentObject()
    {
        currentSaveAction?.Invoke();
        StateHasChanged();
    }

    private async Task UpdateRundownListOnControlRoomChange()
    {
        ActiveRundowns = await RundownService.GetActiveRundowsAsync();
        await UpdateSelectedRundown();
        StateHasChanged();
    }

    private async Task UpdateSelectedRundown()
    {
        selectedRundown = await RundownService.GetRundownAsync(selectedRundown.Uuid.ToString());
        StateHasChanged();
    }

    private void CloseAlert()
    {
        validationMessage = string.Empty;
    }

    private async Task OpenRundown(string uuid)
    {
        try
        {
            selectedRundown = await RundownService.GetRundownAsync(uuid);
            StateHasChanged();
        }
        catch (HttpRequestException e)
        {
            Console.WriteLine($"Error fetching rundown: {e.Message}");
        }
        activeTab = "Aktive rækkefølger";
    }

    /// <summary>
    /// Sætter og åbner den aktive tabpane ved klik på tab
    /// </summary>
    /// <param name="tabName"></param>
    private void SelectTab(string tabName)
    {
        activeTab = tabName;
    }

    private void SetSelectedDate(DateTime date)
    {
        SelectedDate = date.ToLocalTime();
    }

    List<string> Templates = ["Template1", "Template2", "Template3"];
    /// <summary>
    /// Kalder rending af Modal med RundownItemForm
    /// </summary>
    private void ShowRundownItemForm()
    {        
        CurrentContent = FormRenderservice.RenderRundownItemForm(
            Templates,
            selectedRundown,
            EventCallback.Factory.Create<RundownDTO>(this, HandleRundownItemCreated)
        );   
        dynamicOnDataReceived = EventCallback.Factory.Create<object>(this, data => HandleRundownItemCreated((RundownDTO)data));
        validationMessage = string.Empty;
        modalTitle = "Opret nyt element";
        showDialog = true;

    }
    ///<summary>
    /// Kalder rending af Modal med CreateNewRundownForm
    /// </summary>
    private void ShowCreateNewRundownForm()
    {
        CurrentContent = FormRenderservice.RenderNewRundownForm(
            AllTemplates, 
            controlRooms, 
            SelectedDate, 
            EventCallback.Factory.Create<CreateRundownResultDTO>(this, HandleRundownCreated)
        );
        dynamicOnDataReceived = EventCallback.Factory.Create<object>(this, data => HandleRundownCreated((CreateRundownResultDTO)data));
        validationMessage = string.Empty; 
        modalTitle = "Opret ny rækkefølge";
        showDialog = true;
    }

    // private async Task SaveRundownItemForm()
    // {

    //     // if (string.IsNullOrEmpty(ItemName))
    //     // {
    //     //     validationMessage = "Navnet må ikke være tomt.";
    //     //     return;
    //     // }

    //     // var newRundownItem = new RundownItemDTO
    //     //     {
    //     //         UUID = Guid.NewGuid(),
    //     //         RundownId = selectedRundown.Uuid,
    //     //         Name = ItemName,
    //     //         Duration = Duration,
    //     //         Order = selectedRundown.Items.Count // + 1  eller *10?
    //     //     };

    //   //  await RundownService.AddItemToRundownAsync(selectedRundown.Uuid, newRundownItem);
    //     // kan denne ikke komme som svar på ovenstående, i stedet for at kalde igen
    //   //  await UpdateSelectedRundown();
    //     showDialog = false;
    //     // nulstil alle felter
    //     // ItemName = string.Empty;
    //     // Duration = "00:00:00";
    //     // Category = string.Empty;
    //     validationMessage = string.Empty;     

    // }

    private void HandleRundownItemCreated(RundownDTO result)
    {
        selectedRundown = result;
        validationMessage = string.Empty;
        showDialog = false; 
    }

    private void HandleRundownCreated(CreateRundownResultDTO result)
    {
        ActiveRundowns = result.ActiveRundowns;
        selectedRundown = result.SelectedRundown;
        showDialog = false; 
    }

    // private ClaimsPrincipal user;
    // private ApplicationUser currentUser;
    // private List<string> userRoles = new List<string>();

    // protected override async Task OnInitializedAsync()
    // {
    //     var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
    //     user = authState.User;

    //     if (user.Identity != null && user.Identity.IsAuthenticated)
    //     {
    //         currentUser = await UserManager.GetUserAsync(user);

    //         // Hent rollerne for den aktuelle bruger
    //         userRoles = (await UserManager.GetRolesAsync(currentUser)).ToList();
    //     }
    // }

}



